@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome</h1>

@{
    if (IsAuthenticated)
    {
        <p>You are logged in.</p>
    }
    else
    {
        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
            <p>@ErrorMessage</p>
        }
        <p>You are not logged in.</p>
        <form action="/auth/signin" method="post">
            <input type="text" name="@nameof(LoginViewModel.Login)" placeholder="login" autocomplete="off" />
            <input type="password" name="@nameof(LoginViewModel.Password)" placeholder="Password" />

            <button class="btn btn-primary" type="submit">Connect</button>
        </form>
    }
}
